---
title: TIY DC Announcements
---
<div class="reveal">
<!-- Any section element inside of this container is displayed as a slide -->
  <div class="slides">
<!-- Welcome Slide -->
		<section>
			<h2><div id='today'></div></h2>
			<%= image_tag "logo_big.png" %>
		</section>
<!-- Announcements, if any  -->
    <% unless this_week_announcements.empty? %>
    <section>
      <h3>Announcements</h3>
      <table>
        <% this_week_announcements.each do |announcement| %>
            <%= partial "announcements", locals: {announcement: announcement} %>
        <% end %>
      </table>
    </section>
    <% end %>
<!-- Halfway Celebration Slide -->
    <!-- <section>
      <%= partial "halfwaybbq" %>
    </section> -->
<!-- Field Trip -->
        <!-- <section>
          <%= partial "fieldtrip" %>
        </section> -->
<!-- Field Trip -->
        <!-- <section>
          <%= partial "headshots" %>
        </section> -->
<!-- Meetups @ TIY this week, if any -->
  <% unless meetups_this_week.empty? %>
    <section>
      <h3>Meetups @TIY This Week</h3>
    </section>

    <% meetups_this_week.each do |day, meetups| %>
      <%= partial "calendar_day", locals: {day: day, meetups: meetups} %>
    <% end %>
  <% end %>

<!-- Meetups worth going this week, if any -->
  <% unless meetups_worth_this_week.empty? %>
    <section>
      <h3>Tech Meetups This Week</h3>
    </section>

    <% meetups_worth_this_week.each do |day, meetups| %>
        <%= partial "calendar_day", locals: {day: day, meetups: meetups} %>
    <% end %>
  <% end %>

<!-- Guest Speakers, if any -->
    <%# unless this_week_speaker.empty? %>
      <%# this_week_speaker.each do |speaker| %>
          <%# partial "speaker", locals: {speaker: speaker} %>
      <%# end %>
    <%# end %>

<!-- Students -->
    <!-- <section> -->
      <%# partial "students" %>
    <!-- </section> -->

<!-- About TIY -->
    <section>
      <%= partial "about" %>
    </section>

<!-- Wifi -->
    <section data-background-video="https://s3.amazonaws.com/static.slid.es/site/homepage/v1/homepage-video-editor.mp4,https://s3.amazonaws.com/static.slid.es/site/homepage/v1/homepage-video-editor.webm" data-background-video-loop data-background-video-muted>
      <%= partial "wifi" %>
    </section>

<!-- Weather -->
    <section>
      <%= partial "weather" %>
    </section>

<!-- Comics -->
    <section>
      <%= image_tag comic_url, :class => "rounded" %>
    </section>

    <script type="text/javascript">
      window.kisokBuild = "<%= build_id %>";
    </script>

  </div>
</div>
